# ----------------------
# Flask
# ----------------------
flask==0.9


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent==0.13.8
gunicorn==0.17.2


# ----------------------
# Database
# ----------------------
pymongo==2.4.1

# fun
numpy==1.7.1
pandas==0.11.0
git+git://github.com/wrobstory/vincent.git@0d170b1e4720232b2267ac03c1ddaa698082b54c
Flask-WTF
