# ----------------------
# Flask
# ----------------------
flask


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn


# ----------------------
# Database
# ----------------------
pymongo==2.4.1
