body {
    background-image: url(../img/pool_table.png);
    background-repeat: repeat;
    padding-top: 60px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

.pingkongcontent {
        color: #f5f5f5;
}

.pingkongcontent .leader_name {
    display: inline;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #2c2c2c;
}

.large_vspace {
    height: 100px;
}

.small_vspace {
    height: 50px;
}

.xsmall_vspace {
    height: 25px;
}

#submit_status {
    display: none;
}
