body {
    background-image: url(../img/pool_table.png);
    background-repeat: repeat;
    padding-top: 60px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

.pingkongcontent {
    color: #f5f5f5;
}

.inline {
    display: inline;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #2c2c2c;
}

.large_vspace {
    height: 100px;
}

.small_vspace {
    height: 50px;
}

.xsmall_vspace {
    height: 25px;
}

.record_form {
    width: 100% !important;
    max-width:350px !important;
    color: #000;
}

#submit_status {
    display: none;
}

.record_vs, .record_submit {
    text-align: center;
}

.record_playera {
    text-align: right;
}

.record_playerb {
    text-align: left;
}

@media (max-width: 979px) {
    .record_playera, .record_vs, .record_submit {
        text-align: left;
    }
}

body .playermodal {
    width: 800px;
    margin-left: -400px;
    background-image: url(../img/purty_wood.png);
    background-repeat: repeat;
    color: #1a1a1a;
    padding: 20px;
}

body .playermodalheader {
    padding:9px 0px;
}

.recent_match {
    text-transform:capitalize;
}
