<!-- {% extends "base.html" %} -->

{% block js %}
    <script src="/static/js/pingkong.js"></script>
    <script>
        var leaderTemplate = new Template("<h1>#{user}</h1> - #{score}");
        leaderboard(function(data) {
            var html = []
            jQuery.each(data, function(key, val) {
                html.push(leaderTemplate.evaluate(val));
            });
            jQuery('<ol/>', {
                html: html.join('')
            }).appendTo('#leaderboard');
        }, 10);
    </script>
{% endblock %}


{% block main %}
<div class="container">
    <div id="leaderboard">
    <h1>Leaderboard</h1>
    </div>
</div>
{% endblock %}
