{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/pingkong.css">
{% endblock %}

{% block js %}
    <script>
        // parse a spec and create a visualization view
        function parse(spec) {
          vg.parse.spec(spec, function(chart) { chart({el:"#score_timeline"}).update(); });
        }
        parse("/api/score_timeline/{{ player_id }}");
        function getRecentMatches(player_id) {
            var recentMatchTemplate = new Template("<li>#{outcome} #{score}-#{opp_score} vs #{opponent}</li>");
            jQuery.getJSON("/api/recent_matches/" + player_id + "/5", function(data) {
                var html = [];
                jQuery.each(data, function(key, val) {
                    html.push(recentMatchTemplate.evaluate(val))
                });
                jQuery("<ul/>", {
                    html: html.join('')
                })
                    .appendTo('#recent_matches');
            })
        }
        getRecentMatches("{{ player_id }}");
    </script>
{% endblock %}

{% block main %}
<div class="container">
    <div class="pingkongcontent">
        <div class="container">
            <div id="player_header"></div>
            <div class="small_vspace">&nbsp;</div>
            <div id="score_timeline">
                <h3>Score Timeline</h3>
            </div>
            <div id="recent_matches">
                <h3>Recent Matches</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}
