{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/pingkong.css">
{% endblock %}

{% block js %}
    <script>
        // parse a spec and create a visualization view
        function parse(spec) {
          vg.parse.spec(spec, function(chart) { chart({el:"#score_timeline"}).update(); });
        }
        function getRecentMatches(player_id) {
            var recentMatchTemplate = new Template("<li>#{outcome} #{score}-#{opp_score} vs #{opponent}</li>");
            jQuery.getJSON("/api/recent_matches/" + player_id + "/5", function(data) {
                var html = [];
                jQuery.each(data, function(key, val) {
                    // console.log(jQuery('#ldr' + data['opponent']).html) TODO fetch full name from table, when in main
                    html.push(recentMatchTemplate.evaluate(val))
                });
                jQuery("<ul/>", {
                    html: html.join('')
                })
                    .appendTo('#recent_matches');
            })
        }
        function fillInModal(player_id) {
          parse("/api/score_timeline/" + player_id );
          getRecentMatches(player_id);
        }
    </script>
{% endblock %}

{% block main %}
<div class="container">
<a href="#player_modal" onClick="jQuery('#player_modal').modal('show'); fillInModal('{{ player_id }}');">{{ player_id }}</a>
</div>
<div id="player_modal" class="playermodal modal hide">
    <div id="player_header" class="modal-header">
      <button type="button" class="close" data-dismiss="player_modal" aria-hidden="true">×</button>
    </div>
    <div id="score_timeline">
        <h3>Score Timeline</h3>
    </div>
    <div id="recent_matches">
        <h3>Recent Matches</h3>
    </div>
</div>

{% endblock %}
