{% block js %}
    <script>
        function add_options(elem, opts) {
            jQuery.each(opts, function(key, value) {   
                console.log("adding to ", elem)
                 jQuery(elem)
                     .append(jQuery("<option></option>")
                     .attr("value", value.id)
                     .text(value.name));
            });
            jQuery(elem).chosen({no_results_text: "User not found"});
            //jQuery(elem)
            //    .trigger("liszt:updated");
        }
        getAllUsers(function(data) { 
            add_options("#playera_name", data);
            add_options("#playerb_name", data);
        });

        function submit_scores() {
            jQuery("#submit_status").html("Submitting....").show();
            jQuery("#submit_button").prop("disabled", true);
            var playerA = {name: jQuery("#playera_name").val(), score: jQuery("#playera_score").val()}
            var playerB = {name: jQuery("#playerb_name").val(), score: jQuery("#playerb_score").val()}

            if (playerA.score < 0) {
                jQuery("#submit_status").html("Invalid score for player A");
                jQuery("#submit_button").prop("disabled", false);
            } else if (playerB.score < 0) {
                jQuery("#submit_status").html("Invalid score for player B");
                jQuery("#submit_button").prop("disabled", false);
            } else if (playerA.name == "") {
                jQuery("#submit_status").html("Invalid user for player A");
                jQuery("#submit_button").prop("disabled", false);
            } else if (playerB.name == "") {
                jQuery("#submit_status").html("Invalid user for player B");
                jQuery("#submit_button").prop("disabled", false);
            }

            recordMatch(playerA, playerB, function(d) {
                update_leaderboard && update_leaderboard();
                jQuery("#submit_status").html("Recorded!").fadeOut(10000, function() {
                    jQuery("#submit_status")
                        .html("");
                });
                jQuery("#submit_button").prop("disabled", false);
            });


        }
    </script>
{% endblock %}

