{% block js %}
    <script>
        function add_options(elem, opts) {
            jQuery.each(opts, function(key, value) {   
                 jQuery(elem)
                     .append(jQuery("<option></option>")
                     .attr("value", value.id)
                     .text(value.name));
            });
            jQuery(elem).chosen({no_results_text: "User not found", inherit_select_classes: true});
            //jQuery(elem)
            //    .trigger("liszt:updated");
        }
        getAllUsers(function(data) { 
            add_options("#playera_name", data);
            add_options("#playerb_name", data);
        });

        function submit_scores() {
            jQuery("#submit_status").html("Submitting....").show();
            jQuery("#submit_button").prop("disabled", true);
            var playerA = {name: jQuery("#playera_name").val(), user: jQuery("#playera_name option:selected").text(), score: Number(jQuery("#playera_score").val())}
            var playerB = {name: jQuery("#playerb_name").val(), user: jQuery("#playerb_name option:selected").text(), score: Number(jQuery("#playerb_score").val())}

            if (playerA.score < 0) {
                jQuery("#submit_status").html("Invalid score for player A");
                jQuery("#submit_button").prop("disabled", false);
            } else if (playerB.score < 0) {
                jQuery("#submit_status").html("Invalid score for player B");
                jQuery("#submit_button").prop("disabled", false);
            } else if (playerA.name == "") {
                jQuery("#submit_status").html("Invalid user for player A");
                jQuery("#submit_button").prop("disabled", false);
            } else if (playerB.name == "") {
                jQuery("#submit_status").html("Invalid user for player B");
                jQuery("#submit_button").prop("disabled", false);
            }

            var has_error = false;

            predictMatch(playerA, playerB, function(d) {
                if (playerA.score > playerB.score) {
                    var winner = playerA;
                    var loser = playerB;
                } else {
                    var winner = playerB;
                    var loser = playerA;
                }
                var max_score = winner.score;
                var tie = false;
                if (winner.score == loser.score) {
                    tie = true;
                }
                if (! tie) {
                    jQuery("#modal_winner").text(winner.user);
                } else {
                    jQuery("#modal_winner").text("you're both too good");
                }
                jQuery("#modal_score").text(winner.score + " vs " + loser.score);
                jQuery("#modal_predict").text(
                    (d.scores[winner.name]*max_score/21.0).toFixed(1) + 
                    " vs " + 
                    (d.scores[loser.name]*max_score/21.0).toFixed(1)
                );

                var $win_modal = jQuery('#win_modal');
                if (d.current_user != winner.name ){
                  $win_modal.find(".error").hide(); 
                  $win_modal.find(".success").show();

                  recordMatch(playerA, playerB, function(d) {
                    update_leaderboard && update_leaderboard();
                    jQuery("#submit_status")
                      .html("Recorded!")
                      .fadeOut(10000, function() {
                        jQuery("#submit_status")
                        .html("");
                      });
                  });
                } 
                else {
                  $win_modal.find(".error").show();
                  $win_modal.find(".success").hide();
                }

                $win_modal.modal({
                    keyboard: true,
                });
                $win_modal.on('hidden', function(){ 
                  jQuery("#submit_button").prop("disabled", false);
                  jQuery("#submit_status").hide();
                });
            });

        }
    </script>
{% endblock %}

