{% block main %}
<div id="rules" class="pingkongcontent">
    <div class="small_vspace">&nbsp;</div>
    <h1 id="official-bitly-ping-pong-rules">Official Bitly Ping Pong Rules</h1>
    
    <ul>
        <li>Game to 21 </li>
        <li>Best 2 out of 3</li>
        <li>Serve must be tossed atleast 6 inches in the air before being struck</li>
        <li>Serve must be in line to pass through opposing baseline, if untouched (ie. Serve cannot be hit to opposing corner or tables)</li>
        <li>Serve changes hands every 5 points – there is no “loser serves” when opponent has 20 points.</li>
        <li>First service is decided by a “volley-for-serve” rally; loser serves first next game</li>
        <li>Players switch sides after every game</li>
        <li>Any other contact other than the paddle and table (ie. Wall  / ceiling / chair / etc) is out and the point is over</li>
        <li>Winner is responsible for adding score to website. </li>
        <li>Any discrepancy in rules will be brought to 3 person panel (Gavin / Dan / Micha) which will determine the official outcome</li>
    </ul>
</div>
{% endblock %}
