{% block main %}
<div id="rules" class="pingkongcontent">
    <div class="small_vspace">&nbsp;</div>
<h1>Official {{ org }} Ping Pong "Rules"</h1>

<ul>
<li>Shots off the wall are most definitely in</li>
<li>Normal game is to 11, changing serve every 2 points</li>
<li>Basically anything is fair game on serve (just needs to hit your side first)</li>
<li>First serve determined by an initial rally (of at least 4 shots)</li>
<li>No suckers' serve</li>
<li>Loser submits score to the website, or winner can do it on the Surface tablet</li>
</ul>
</div>
{% endblock %}
